@import "tailwindcss";

@theme {
  --background-image-pimento: linear-gradient(
    to right,
    #ff3d3a 0%,
    #ff861f 44%,
    #ffec38 100%
  );
}

@font-face {
  font-family: "ABCWhyte";
  src: url("/fonts/ABCWhyteTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "ABCWhyte", sans-serif;
}
