@import "tailwindcss";

@theme {
  --background-image-pimento: linear-gradient(
    to right,
    #ff3d3a 0%,
    #ff861f 44%,
    #ffec38 100%
  );

  --animate-fade-up: fade-up 0.7s cubic-bezier(0.16, 1, 0.3, 1) 0.15s both;
}

@keyframes fade-up {
  from {
    opacity: 0;
    translate: 0 1.2rem;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@font-face {
  font-family: "ABCWhyte";
  src: url("/fonts/ABCWhyteTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "ABCWhyte", sans-serif;
}
