---
import Base from '../layouts/Base.astro';
---

<Base content={{ title: "Lisa Michallon | Front-end Developer" }}>
	<main class="bg-black min-h-screen flex items-center justify-center">
		<h1 class="text-white text-[7.2rem]">Building something.</h1>
	</main>
</Base>
